.watch,
.watch * {
  transition: width 300ms ease-out, height 300ms ease-out, font-size 300ms ease-out;
}

.watch {
  box-sizing: border-box;
  position: relative;
  border-radius: 50%;
}

.watch.light {
  background-color: white;
  box-shadow: 0 0 10px -1px inset rgba(0, 0, 0, .6);
}

.watch.dark {
  background-color: rgb(51, 51, 51);
}

.watch>.digits {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: 'Gilroy';
}

.watch>.digits>* {
  position: absolute;
  transform: translate(-50%, -50%);
}

.watch.dark>.digits>* {
  color: white;
}

.watch>.center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6%;
  height: 6%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, .6);
  z-index: 1000;
}

.watch.light>.center {
  background-color: #333333;
}

.watch.dark>.center {
  background-color: rgb(231, 231, 231);
}

.watch>.ph,
.watch>.pm,
.watch>.ps {
  transform-origin: left center;
}

.watch>.ph {
  position: absolute;
  height: 3.5%;
  width: 20%;
  top: 48.25%;
  left: 50%;
  border-radius: 100vh;
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, .6);
}

.watch.light>.ph {
  background-color: #222222;
}

.watch.dark>.ph {
  background-color: rgb(223, 223, 223);
}

.watch>.pm {
  position: absolute;
  height: 2%;
  width: 26%;
  top: 49%;
  left: 50%;
  border-radius: 100vh;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, .6);
}

.watch.light>.pm {
  background-color: #222222;
}

.watch.dark>.pm {
  background-color: rgb(223, 223, 223);
}

.watch>.ps {
  position: absolute;
  height: 1%;
  width: 35%;
  top: 49.5%;
  left: 50%;
  border-radius: 100vh;
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, .6);
}

.watch>.ps {
  background-color: rgb(219, 83, 83);
}

.watch>.dash-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.watch>.dash-container>* {
  position: absolute;
  transform-origin: left center;
  border-radius: 0 100vh 100vh 0;
}

.watch.light>.dash-container>* {
  background-color: #222222;
}

.watch.dark>.dash-container>* {
  background-color: white;
}

.watch>.dash-container>.big-dash {
  width: 6%;
  height: 1%;
}

.watch>.dash-container>.small-dash {
  width: 2%;
  height: .5%;
}